<!DOCTYPE html>
<html>
<head>
<meta charset="utf=8">
<title> Martin Toomas Kripsaar </title>
<body>
 <img src="/banners/vp_banner_2024.png" alt="Veebiprogrammeerimise 2024 aasta kursuse bänner">
 <p> See leht on tehtud õppetöö raames  <a href="https://www.tlu.ee" target="_blank">Tallinna ülikoolis</a> ja ei sisalda tõsiseltvõetavat sisu </p>
 <hr>
 <ul>
    <li><a href="/home">Avaleht</a></li>
</ul>
<hr>
<h2>Lisa uudis</h2>
<form method="POST"> 
    <label for="titleInput">Pealkiri: </label>
    <input type ="text" id="titleInput" name ="titleInput" placeholder= "Uudise pealkiri ...">
    <br>
    <textarea id="newsInput" name="newsInput" placeholder="Uudise sisu ..." cols="100" rows="5"></textarea>
    <br>
    <label for="expireInput">Uudise aegumiskuupäev: </label>
    <input type ="date" id="expireInput" name = "expireInput">
    <br>
    <input type="submit" id="newsSubmit" name ="newsSubmit" value="Salvesta">
    
  </form>

</body>
</html>