<!DOCTYPE html>
<html>
<head>
<meta charset="utf=8">
<title> Martin Toomas Kripsaar </title>
<body>
 <img src="/banners/vp_banner_2024.png" alt="Veebiprogrammeerimise 2024 aasta kursuse bänner">
 <p> See leht on tehtud õppetöö raames  <a href="https://www.tlu.ee" target="_blank">Tallinna ülikoolis</a> ja ei sisalda tõsiseltvõetavat sisu </p>
 <hr>
 <ul>
  <li><a href="/eestifilm">Eesti film</a></li>
  <li><a href="/eestifilm/tegelased">Tegelased</a></li>
  <li><a href="/visitlog">Visit Log</a></li>
  <li><a href="/filmiandmed">Sisesta filmiandmed</a></li>
  <li><a href="/semesterlopp">Semestri lõpuni jäänud aeg</a></li>
  <li><a href="/news">Uudised</a></li>
  <li><a href="/photoupload">Lae üles galeriipilt</a></li>
  <li><a href="/gallery">Fotogalerii</a></li>
  <li><a href="/logout">Logi välja</a></li>
 </ul>

</body>
</html>