<!DOCTYPE html>
<html>
<head>
<meta charset="utf=8">
<title> Martin Toomas Kripsaar </title>
<body>
 <img src="/banners/vp_banner_2024.png" alt="Veebiprogrammeerimise 2024 aasta kursuse bänner">
 <p> See leht on tehtud õppetöö raames  <a href="https://www.tlu.ee" target="_blank">Tallinna ülikoolis</a> ja ei sisalda tõsiseltvõetavat sisu </p>
 <hr>
 <ul>
   <li><a href="/home">Avaleht</a></li>
 <ul>
    <li><a href ="/eestifilm">Eesti filmi avaleht</a></li>
 </ul>
 <hr>
 <h2>Lisa seoseid</h2>
 <form method="POST">
   <label for="personSelect">Vali isik</label>
   <select id="personSelect" name="personSelect" 
      <option selected disabled>Vali isik</option>
      <option value = "1">Ervin Abel</option>
   </select>
 </form>
 <ul>
<!--   <% persons.forEach(function(item){ %>
    <li><%= item.first_name %> <%= item.last_name %>, sündinud <%= item.birth_date %></li>
    <% }); %> -->

 </ul>
</body>
</html>